@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    list-style-type:none;
    align-self:center;
}

a.prev,a.next {
    height:91px;
    position:absolute;
    width:43px;
    top:50%;
    margin-top:-30px;
    background-color:#56BD78;
    opacity: 0.6;
    text-indent:-99999px;
    cursor:pointer;
    -webkit-transition:opacity 200ms ease-out;
}

a.prev:hover,a.next:hover {
    opacity:1;
}

.prev {
    left:0;
    background: #56BD78 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}

.next {
    right:0;
    background: #56BD78 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}


.slider {
    height:50vh;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slide {
    position:absolute;
    height:50%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slider .slide:target {
    z-index: 999;
}


.slider img {
    position: absolute;
    height:100%;
    width:30%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.stadioninfo{
    border-radius: 0%;
    position: absolute;
    top: -10vh;
    left:50%;
    transform:translate(-50%,0);
    font-size:18px!important;
    padding:0.01em 16px;
    padding-top:16px!important;
    padding-bottom:16px!important;
    color:#fff!important;
    background-color:#56BD78;
}

.navorb {
    cursor:pointer;
    top: 45vh;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #E5E5E5;
    border-radius: 50%;
    display: inline-block;
    background-color:#56BD78;
    opacity: 0.6;
    position: relative;
    z-index: 1000;
    -webkit-transition:opacity 200ms ease-out;
}

.activeorb, .navorb:hover {
    background-color: #56BD78;
    opacity: 1;
}



.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}



@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
